.img-con {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
  border: qpx solid #ccc;

  .img {
    width: 100%;
    height: 100%;
  }
}

.file-upload-con {
  margin-top: 15px;
}